<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346652726238-oevcoiconjj7q4ch240dbohivd0jqu7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346652726238-oevcoiconjj7q4ch240dbohivd0jqu7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJ9Pk3wKbdS-zAuUd8Pclq6xKEl_cUeg</string>
	<key>GCM_SENDER_ID</key>
	<string>346652726238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.mobifoneglobal.smarthome</string>
	<key>PROJECT_ID</key>
	<string>mhome-641c0</string>
	<key>STORAGE_BUCKET</key>
	<string>mhome-641c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346652726238:ios:21bf47ba5e4cb4f7ab834f</string>
</dict>
</plist>